{{ define "index" }}

{{ template "header" . }}

<div class="layout">

	<div class="clients">
		<ul>
			<li><div class="client">L</div></li>
			<li><div class="new-client">+</div><li>
		</ul>
	</div>

	<div class="channels">
		<ul>
			<li class="active">#test</li>
		</ul>
	</div>

	<div class="window">
		<div class="messages">
			<div class="msg">
				<div class="time">
					07:51:50 PM
				</div>
				<div class="nickname">
					lukevers
				</div>
				<div class="message">
					hello
				</div>
			</div>
			<div class="msg">
				<div class="time">
					07:52:03 PM
				</div>
				<div class="nickname">
					willow
				</div>
				<div class="message">
					hi
				</div>
			</div>
		</div>
		<div class="input">
			<input type="text">
			<div class="upload">+</div>
		</div>
	</div>

</div>

{{ template "footer" . }}

{{ end }}
